@model Common.ViewModel.BookCheckInVIewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Check In</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("_AssignedPersonView", Model.AssignedPerson)

    @Html.HiddenFor(model => model.BoookID)
    @Html.HiddenFor(model => model.AssinationID)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequiredReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredReturnDate)
        </dd>
    </dl>
    <div class="form-group">
        @Html.LabelFor(model => model.ActualReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActualReturnDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActualReturnDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Penality, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Penality)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Check In" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
